{% extends 'base.html' %}
{% block body %}

<div class="container">
                
        <div class="coin-price">
                <h1>Solana: $<span id="solana"></span></h1>
        </div>

        <div class="coin-price">
                <h1>Bitcoin: $<span id="bitcoin"></span></h1>
        </div>
        <div class="coin-price">
                <h1>Ethereum: $<span id="ethereum"></span></h1>
        </div>

        <div class="coin-price">
                <h1>Ripple: $<span id="ripple"></span></h1>
        </div>

        <div class="coin-price">
                <h1>Cosmos: $<span id="cosmos"></span></h1>
        <div>
        <div class="coin-price">
                <h1>Shiba INU: $<span id="shiba-inu"></span></h1>
        <div>
        <div class="coin-price">
                <h1>Doge Coin: $<span id="dogecoin"></span></h1>
        <div>
        <div class="coin-price">
                <h1>Polygon MATIC: $<span id="matic"></span></h1>
        <div>
        <div class="coin-price">
                <h1>Tezos: $<span id="tezos"></span></h1>
        <div>
        <div class="coin-price">
                <h1>VeChain: $<span id="vechain"></span></h1>
        <div>

    </div>
<script>
var solanacoin = document.getElementById("solana");
var btc = document.getElementById("bitcoin");
var eth = document.getElementById("ethereum");
var ripplecoin = document.getElementById("ripple");
var atom = document.getElementById("cosmos");
var doge = document.getElementById("dogecoin");
var matic = document.getElementById("matic");
var shiba = document.getElementById("shiba-inu");
var tezos = document.getElementById("tezos");
var vechain = document.getElementById("vechain");


var liveprice = {
    "async": true,
    "scroosDomain": true,
    //"url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin%2Cethereum%2Csolana%2Cdogecoin%2Cripple%2C0x%2Cmatic-network%2Cshiba-inu%2Catom%2Ccosmos%2Ctezos&vs_currencies=usd",
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin%2Cethereum%2Ctezos%2Csolana%2Cdogecoin%2Cshiba-inu%2Ccosmos%2Cmatic-network%2Cripple%2Ccro%2Cvechain&vs_currencies=usd",
    "method": "GET",
    "headers": {}
}

$.ajax(liveprice).done(function (response){
        console.log(response)
    solanacoin.innerHTML = response.solana.usd;
    btc.innerHTML = response.bitcoin.usd;
    eth.innerHTML = response.ethereum.usd;
    ripplecoin.innerHTML = response.ripple.usd;
    atom.innerHTML = response.cosmos.usd;
    doge.innerHTML = response.dogecoin.usd;
    matic.innerHTML = response["matic-network"].usd;
    shiba.innerHTML = response["shiba-inu"].usd;
    tezos.innerHTML = response.tezos.usd;
    vechain.innerHTML = response.vechain.usd;
});
     </script>
{% endblock %}
