{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wrapper col3">
  <div id="breadcrumb">
    <ul>
      <li class="first">You Are Here</li>
      <li>&#187;</li>
      <li><a href="index.html">Home</a></li>
      <li>&#187;</li>
      <li class="current"><a href="subscription.html">About: Subscription</a></li>
    </ul>
  </div>
</div>
<div class="wrapper col4">
  <div id="container">
    <section class="contact" id="contact">

      <h1 class="heading"><span><center>SUBSCRIBE TO OUT MONTHLY NEWSLETTER</center></span></h1>
  
      <div class="row">
  
  
          <form action="">
              <h3>Kindly Fill In Your Email</h3>
              <div class="inputBox">
                  <span class="fas fa-envelope"></span>
                  <input type="email" placeholder="abc@example.com">
              </div>
              <input type="submit" value="Subscribe" class="btn">
          </form>
  
      </div>
  
  </section>      
  </div>
</div>
{% endblock %}
