{% extends 'base.html' %}
{% block body %}
<div class="wrapper col4">
  <div id="container">
    <div id="content">
        <div id="featured_post"><img src="{{ featured_article.image }}" alt="" />
          <ul>
              <h3><a href="{{ featured_article.link }}">{{ featured_article.title }}</a></h3>
          </ul>
          <p>{{ featured_article.description | safe }}</p>
      </div>
      <div id="hpage_latest">
        <ul>
            {% for post in list_articles %}
            <li class="post">
                {% if post.image %}
                    <img src="{{ post.image }}" alt="" />
                {% endif %}
                <p><a href="{{ post.link }}">{{ post.title }}</a></p>
              <p>{{ post.description | safe }}</p>
            <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
          </li>
          {% endfor %}
        </ul>
        <br class="clear" />
      </div>
    </div>
    <div id="column">
      <ul id="latestnews">
          {% for article in articles %}
          <li>
              {% if article.image %}
              <img src="{{ article.image }}" alt="" />
              {% endif %}
              <p><strong><a href="{{ article.link }}">{{ article.title }}</a></strong>  </p>
              {% endfor %}
        </li>
      </ul>
    </div>
    <br class="clear" />
  </div>
  <br class="clear" />
</div>
<script>
    function fuzzy_search() {
        let input = document.querySelector('.fuzzy-search').value
        input=input.toLowerCase();
            let x = document.getElementsByClassName('post');
        for (i = 0; i < x.length; i++) { 
            if (!x[i].innerHTML.toLowerCase().includes(input)) {
                x[i].style.display="none";
            }
            else {
                x[i].style.display="list-item";                 
            }
        }
    }
 </script>
{% endblock %}
